<h2>Cards in this set:</h2>
<div class="cards">
  <% @cards.each do |card| %>
    <div class="card">
      <h3><%= card.name %></h3>
      <% if card.image.attached? %>
        <%= image_tag card.image %>
      <% end %>
    </div>
  <% end %>
</div>
