<!-- app/views/pages/about.html.erb -->
<h1>About Us</h1>
<% if @static_page %>
  <div><%= @static_page.content.html_safe %></div>
<% else %>
  <p>The About page content is not available.</p>
<% end %>
